<!DOCTYPE html>
<html>

<head>
    <style>

    </style>
</head>

<body>

    <p>Click on the "Choose File" button to upload a file:</p>

    <form action="/upload" id="upload" method="POST" enctype="multipart/form-data">
        <input type="file" id="myFile" name="video">
        <input type="submit">
    </form>
    <button type="button" id="grayscale" hidden="hidden">Convert me to grayscale</button>
    <div>
        <video id="video" width="320" height="240"></video>
    </div>
    <script>
        var oid_g = undefined;
        const form = document.getElementById('upload');
        form.addEventListener('submit', (event) => {
            // stop form submission
            event.preventDefault();
            const form = event.target;

            // Post data using the Fetch API
            fetch(form.action, {
                method: form.method,
                body: new FormData(form),
            }).then(response => {
                console.log("Success!");
                return response.json();
            }).then(data => {
                console.log(data);
                const oid = data.id;
                oid_g = oid;
                var video = document.getElementById('video');
                var source = document.createElement('source');
                video.style.webkitFilter = "grayscale(0%)";
                source.setAttribute('src', `/files/${oid}`);
                source.setAttribute('type', 'video/mp4');

                video.appendChild(source);
                video.play();
                console.log({
                    src: source.getAttribute('src'),
                    type: source.getAttribute('type'),
                });

                let element = document.getElementById("grayscale");
                let hidden = element.getAttribute("hidden");
                element.addEventListener('click', function () {
                    video.style.webkitFilter = "grayscale(100%)";
                    video.play();
                }
                )
                if (hidden) {
                    element.removeAttribute("hidden");
                }
            }).catch(error => console.log("Error!", error));
        });
    </script>
</body>

</html>